BusinessAccountService/BusinessAccountServiceV1/src/main/resources/META-INF/soa/services/wsdl/BusinessAccountServiceV1/BusinessAccountServiceV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
	Licensed under the Apache License, Version 2.0 (the "License"); 
	you may not use this file except in compliance with the License. 
	You may obtain a copy of the License at 
	
	http://www.apache.org/licenses/LICENSE-2.0
	
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="BusinessAccountService"
	targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services">

	
			<xs:element name="getAccountDataRequest"
				type="tns:GetAccountDataRequest" />
			<xs:complexType name="GetAccountDataRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="userID" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getAccountDataResponse"
				type="tns:GetAccountDataResponse" />
			<xs:complexType name="GetAccountDataResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="accountData" type="tns:AccountData" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getAccountProfileDataRequest"
				type="tns:GetAccountProfileDataRequest" />
			<xs:complexType name="GetAccountProfileDataRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="userID" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getAccountProfileDataResponse"
				type="tns:GetAccountProfileDataResponse" />
			<xs:complexType name="GetAccountProfileDataResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="accountProfileData" type="tns:AccountProfileData" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="updateAccountProfileRequest"
				type="tns:UpdateAccountProfileRequest" />
			<xs:complexType name="UpdateAccountProfileRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="accountProfileData" type="tns:AccountProfileData" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="updateAccountProfileResponse"
				type="tns:UpdateAccountProfileResponse" />
			<xs:complexType name="UpdateAccountProfileResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="accountProfileData" type="tns:AccountProfileData" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		
        
        
            
            <xs:element name="getWalletDataRequest"
            	type="tns:GetWalletDataRequest">
            </xs:element>
            
            <xs:complexType name="GetWalletDataRequest">
            	<xs:sequence>
            		<xs:element name="userID" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            	</xs:sequence>
            </xs:complexType>
		<xs:element name="getWalletDataResponse"
			type="tns:GetWalletDataResponse">
		</xs:element>
		<xs:complexType name="GetWalletDataResponse">
			<xs:sequence>
				<xs:element name="walletData" type="tns:WalletData" maxOccurs="1" minOccurs="1"></xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:element name="updateWalletDataRequest">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="walletData" type="tns:WalletData" maxOccurs="1" minOccurs="1"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="updateWalletDataResponse">
			<xs:complexType>
				<xs:sequence>

					<xs:element name="newWalletData" type="tns:WalletData" maxOccurs="1" minOccurs="1"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element><xs:complexType name="AccountData">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="TradeTypeLibrary" namespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="profileID" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="openBalance" type="xs:double"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="balance" type="xs:double"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="creationDate" type="xs:dateTime"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="lastLogin" type="xs:dateTime"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="logoutCount" type="xs:int"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="loginCount" type="xs:int"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="accountID" type="xs:int"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="currencyType" type="xs:string">
			</xs:element>

		</xs:sequence>
	</xs:complexType><xs:complexType name="AccountProfileData">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="TradeTypeLibrary" namespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="creditCard" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="email" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="address" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="fullName" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="password" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="userID" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error (causing the request to fail)
				or an informational error (a warning) that should be communicated to the
				user.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:restriction base="xs:string">
	
			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully, but something occurred that may
						affect your application or the user.				
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
	
					<xs:documentation>
						The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
	
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
	
		</xs:restriction>
	</xs:simpleType><xs:complexType abstract="true" name="BaseRequest">
		<xs:annotation>
			<xs:documentation>
				This is the base class for request container for all
				service operations.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType abstract="true" name="BaseResponse"> 
		<xs:annotation>
			<xs:documentation>
				Base response container for all service operations.
				Contains error information associated with the request.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>

		<xs:sequence>
			<xs:element name="ack" type="tns:AckValue">
				<xs:annotation>
					<xs:documentation>

					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Information for an error or warning that
						occurred when eBay processed the request.
					</xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element minOccurs="0" name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>

			</xs:element>
			<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation></xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="CommonErrorData">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
	
		<xs:complexContent>
			<xs:extension base="tns:ErrorData">
				<xs:sequence>
					<xs:element name="errorName" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="cause" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="resolution" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="errorGroups" type="xs:string">
						<xs:annotation>
							<xs:documentation>Error group values are whitespace separated</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organization" type="xs:string"></xs:element>
		    			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"></xs:any>
			    	</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:simpleType name="ErrorCategory">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="System"></xs:enumeration>
        <xs:enumeration value="Application"></xs:enumeration>
        <xs:enumeration value="Request"></xs:enumeration>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ErrorData">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
	
	  <xs:sequence>
        	<xs:element name="errorId" type="xs:long"></xs:element>
		  	<xs:element name="domain" type="xs:string"></xs:element>
			<xs:element minOccurs="0" name="subdomain" type="xs:string"></xs:element>
			<xs:element name="severity" type="tns:ErrorSeverity"></xs:element>
	  		<xs:element name="category" type="tns:ErrorCategory"></xs:element>
	  		<xs:element name="message" type="xs:string"></xs:element>
	  		<xs:element minOccurs="0" name="exceptionId" type="xs:token"></xs:element>
	  		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"></xs:element>
		</xs:sequence>
	
	
	</xs:complexType><xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		
		<!-- 
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0"
				processContents="lax" />
		</xs:sequence>
		-->
		
    	<xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:CommonErrorData">
    		</xs:element>
    	</xs:sequence>
		
	</xs:complexType><xs:complexType name="ErrorParameter">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>

		<xs:simpleContent>
		  <xs:extension base="xs:string">
		    <xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
		  </xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:simpleType name="ErrorSeverity">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="Error"></xs:enumeration>
        <xs:enumeration value="Warning"></xs:enumeration>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ExtensionType">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:positiveInteger"></xs:element>
			<xs:element name="version" type="xs:string"></xs:element>
			<xs:element name="contentType" type="xs:string"></xs:element>
			<xs:element name="value" type="xs:string"></xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"></xs:any>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WalletData">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="TradeTypeLibrary" namespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="userID" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="eur" type="xs:double"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="usd" type="xs:double"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="gbp" type="xs:double"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="cny" type="xs:double"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="inr" type="xs:double"></xs:element>
		</xs:sequence>
	</xs:complexType>

			<xs:element name="updateAccountDataForLoginResponse">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="newAccountData" type="tns:AccountData"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateAccountDataForLoginRequest"
				type="tns:UpdateAccountDataForLoginRequest">
			</xs:element>
			<xs:complexType name="UpdateAccountDataForLoginRequest">
				<xs:sequence>
					<xs:element name="userID" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="updateAccountForLogout">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="in" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateAccountForLogoutResponse">
				<xs:complexType>
					<xs:sequence>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateAccountForLogoutRequest"
				type="tns:UpdateAccountForLogoutRequest">
			</xs:element>

			<xs:complexType name="UpdateAccountForLogoutRequest">
				<xs:sequence>
					<xs:element name="userID" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="getAccountDataRequest">
		<wsdl:part element="tns:getAccountDataRequest" name="params" />
	</wsdl:message>
	<wsdl:message name="getAccountDataResponse">
		<wsdl:part element="tns:getAccountDataResponse" name="params" />
	</wsdl:message>
	<wsdl:message name="getAccountProfileDataRequest">
		<wsdl:part element="tns:getAccountProfileDataRequest"
			name="params" />
	</wsdl:message>
	<wsdl:message name="getAccountProfileDataResponse">
		<wsdl:part element="tns:getAccountProfileDataResponse"
			name="params" />
	</wsdl:message>
	<wsdl:message name="updateAccountProfileRequest">
		<wsdl:part element="tns:updateAccountProfileRequest"
			name="params" />
	</wsdl:message>
	<wsdl:message name="updateAccountProfileResponse">
		<wsdl:part element="tns:updateAccountProfileResponse"
			name="params" />
	</wsdl:message>


	<wsdl:message name="getWalletDataRequest">
		<wsdl:part name="parameters" element="tns:getWalletDataRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getWalletDataResponse1">
		<wsdl:part name="parameters" element="tns:getWalletDataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateWalletDataRequest">
		<wsdl:part name="parameters" element="tns:updateWalletDataRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateWalletDataResponse">
		<wsdl:part name="parameters" element="tns:updateWalletDataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAccountDataForLoginRequest">
		<wsdl:part name="parameters" element="tns:updateAccountDataForLoginRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAccountDataForLoginResponse">
		<wsdl:part name="parameters" element="tns:updateAccountDataForLoginResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAccountForLogoutRequest">
		<wsdl:part name="parameters" element="tns:updateAccountForLogoutRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAccountForLogoutResponse">
		<wsdl:part name="parameters" element="tns:updateAccountForLogoutResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BusinessAccountServicePort">
		<wsdl:operation name="getAccountData">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getAccountDataRequest" />
			<wsdl:output message="tns:getAccountDataResponse" />
		</wsdl:operation>
		<wsdl:operation name="getAccountProfileData">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getAccountProfileDataRequest" />
			<wsdl:output message="tns:getAccountProfileDataResponse" />
		</wsdl:operation>
		<wsdl:operation name="updateAccountProfile">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:updateAccountProfileRequest" />
			<wsdl:output message="tns:updateAccountProfileResponse" />
		</wsdl:operation>
		<wsdl:operation name="getWalletData">
			<wsdl:input message="tns:getWalletDataRequest"></wsdl:input>
			<wsdl:output message="tns:getWalletDataResponse1"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateWalletData">
			<wsdl:input message="tns:updateWalletDataRequest"></wsdl:input>
			<wsdl:output message="tns:updateWalletDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAccountDataForLogin">
			<wsdl:input message="tns:updateAccountDataForLoginRequest"></wsdl:input>
			<wsdl:output message="tns:updateAccountDataForLoginResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAccountForLogout">
			<wsdl:input message="tns:updateAccountForLogoutRequest"></wsdl:input>
			<wsdl:output message="tns:updateAccountForLogoutResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BusinessAccountServiceHttpBinding"
		type="tns:BusinessAccountServicePort">

		<http:binding verb="GET" />
		<wsdl:operation name="getAccountData">

			<http:operation location="/getAccountData" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />



			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAccountProfileData">

			<http:operation location="/getAccountProfileData" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />



			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAccountProfile">

			<http:operation location="/updateAccountProfile" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />



			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWalletData">

			<http:operation location="/getWalletData" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />



			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateWalletData">

			<http:operation location="/updateWalletData" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />



			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAccountDataForLogin">

			<http:operation location="/updateAccountDataForLogin" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />


			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAccountForLogout">
			<http:operation location="/updateAccountForLogout" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BusinessAccountServiceSOAPBinding"
		type="tns:BusinessAccountServicePort">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAccountData">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getAccountData" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAccountProfileData">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getAccountProfileData" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAccountProfile">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/updateAccountProfile" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWalletData">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getWalletData" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateWalletData">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/updateWalletData" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAccountDataForLogin">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/updateAccountDataForLogin" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAccountForLogout">
			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/updateAccountForLogout" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BusinessAccountService">
		<wsdl:documentation>
			<version>1.0.0</version>
		</wsdl:documentation>
		<wsdl:port binding="tns:BusinessAccountServiceHttpBinding"
			name="BusinessAccountServiceHttp">
			<http:address
				location="http://www.ebayopensource.org/turmeric/BusinessAccountService" />
		</wsdl:port>
		<wsdl:port binding="tns:BusinessAccountServiceSOAPBinding"
			name="BusinessAccountServiceSOAP">
			<soap:address
				location="http://www.ebayopensource.org/turmeric/BusinessAccountService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

